# Numpy : Create 2D Grid Points

In [1]:
import pandas as pd
import numpy as np

In [2]:
n = 4 
grid = np.indices((n, n))
index = list( zip( grid[0].flatten(), grid[1].flatten() ) )

In [3]:
arr = np.random.randint(1,5, n*n).reshape(n,-1)
arr

array([[3, 2, 3, 1],
       [3, 3, 2, 3],
       [1, 3, 4, 4],
       [1, 4, 4, 2]])

In [4]:
val = [ np.dot(arr[x[0]],arr[x[1]]) for x in index]
print( val )
dot = np.zeros(n*n).reshape(n,-1)
for i in range(n*n):
    dot[index[i][0], index[i][1]] = val[i]

[23, 24, 25, 25, 24, 31, 32, 29, 25, 32, 42, 37, 25, 29, 37, 37]

In [5]:
dot

array([[23., 24., 25., 25.],
       [24., 31., 32., 29.],
       [25., 32., 42., 37.],
       [25., 29., 37., 37.]])

## Pandas DataFrame

In [6]:
df = pd.DataFrame(arr, columns=list('abcd') )
df

   a  b  c  d
0  3  2  3  1
1  3  3  2  3
2  1  3  4  4
3  1  4  4  2

#### Searching for an item in the Columns and in the Indices

In [7]:
print( 'a' in df.columns )
print( 1 in df.index )

True
True

#### Searching for an item in the Columns Only

In [8]:
print( 'a' in df )
print( 1 in df )

True
False