## Pandas : 'in' Operator

In [1]:
import numpy as np
import pandas as pd

In [2]:
n=4
arr = np.random.randint(1,5, n*n).reshape(n,-1)
arr

array([[1, 3, 3, 3],
       [3, 1, 3, 3],
       [2, 3, 1, 1],
       [1, 1, 1, 2]])

In [3]:
df = pd.DataFrame(arr, columns=list('abcd') )
df

   a  b  c  d
0  1  3  3  3
1  3  1  3  3
2  2  3  1  1
3  1  1  1  2

#### Searching for an item in the Columns and in the Indices

In [4]:
print( 'a' in df.columns )
print( 1 in df.index )

True
True

#### Searching for an item in the Columns Only

In [5]:
print( 'a' in df )
print( 1 in df )

True
False