In [1]:
import numpy as np
import pandas as pd

### Python datetime

In [2]:
from datetime import datetime

current_time = datetime.now()
current_timestamp = current_time.timestamp()
print(current_time, current_timestamp)

2022-06-16 10:17:29.413356 1655389049.413356

In [3]:
datetime.fromtimestamp(267809220)

datetime.datetime(1978, 6, 27, 11, 27)

### Pandas datetime

In [4]:
transaction_datetimes = pd.date_range(start='01-01-2021', end='01-07-02021', periods=500)
print( transaction_datetimes[0:5] )

DatetimeIndex([          '2021-01-01 00:00:00',
               '2021-01-01 00:17:18.877755511',
               '2021-01-01 00:34:37.755511022',
               '2021-01-01 00:51:56.633266533',
               '2021-01-01 01:09:15.511022044'],
              dtype='datetime64[ns]', freq=None)

In [5]:
pd.Timestamp( transaction_datetimes[1], unit='ms').ctime()

'Fri Jan  1 00:17:18 2021'

In [6]:
pd.Timestamp( transaction_datetimes[1], unit='ms').day

1

In [7]:
pd.Timestamp( transaction_datetimes[1], unit='ms').month

1

In [8]:
pd.Timestamp( transaction_datetimes[1], unit='ms').day_name()

'Friday'

In [9]:
pd.Timestamp( transaction_datetimes[1], unit='ms').month_name()

'January'

In [10]:
pd.Timestamp( transaction_datetimes[1], unit='ms').date()

datetime.date(2021, 1, 1)

In [11]:
pd.Timestamp( transaction_datetimes[1], unit='ms').dayofweek

4

In [12]:
pd.Timestamp( transaction_datetimes[1], unit='ms').dayofyear

1

In [13]:
pd.Timestamp( transaction_datetimes[1], unit='ms').days_in_month

31

In [14]:
pd.Timestamp( transaction_datetimes[1], unit='ms').daysinmonth

31

In [15]:
pd.Timestamp( transaction_datetimes[1], unit='ms').freq

<ipython-input-15-15815285d30f>:1: FutureWarning: Timestamp.freq is deprecated and will be removed in a future version
  pd.Timestamp( transaction_datetimes[1], unit='ms').freq

In [16]:
pd.Timestamp( transaction_datetimes[1], unit='ms').is_leap_year

False

In [17]:
pd.Timestamp( transaction_datetimes[1], unit='ms').is_month_end

False

In [18]:
pd.Timestamp( transaction_datetimes[1], unit='ms').is_month_start

True

In [19]:
pd.Timestamp( transaction_datetimes[1], unit='ms').normalize()

Timestamp('2021-01-01 00:00:00')

In [20]:
pd.Timestamp( transaction_datetimes[1], unit='ms').nanosecond

511

In [21]:
pd.Timestamp( transaction_datetimes[1], unit='ms').hour

0

In [22]:
pd.Timestamp( transaction_datetimes[1], unit='ms').minute

17

In [23]:
pd.Timestamp( transaction_datetimes[1], unit='ms').second

18

In [24]:
pd.Timestamp( transaction_datetimes[1], unit='ms').time()

datetime.time(0, 17, 18, 877755)

In [25]:
pd.Timestamp( transaction_datetimes[1], unit='ms').timestamp()

1609460238.877755

In [26]:
pd.Timestamp( transaction_datetimes[1], unit='ms').timetuple()

time.struct_time(tm_year=2021, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=17, tm_sec=18, tm_wday=4, tm_yday=1, tm_isdst=-1)

In [27]:
pd.Timestamp( transaction_datetimes[1], unit='ms').timetz()

datetime.time(0, 17, 18, 877755)

In [28]:
pd.Timestamp( transaction_datetimes[1], unit='ms').to_datetime64()

numpy.datetime64('2021-01-01T00:17:18.877755511')

In [29]:
pd.Timestamp( transaction_datetimes[1], unit='ms').to_julian_date()

2459215.5120240483

In [30]:
pd.Timestamp( transaction_datetimes[1], unit='ms').to_numpy()

numpy.datetime64('2021-01-01T00:17:18.877755511')

In [31]:
pd.Timestamp( transaction_datetimes[1], unit='ms').to_pydatetime()

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3418: UserWarning: Discarding nonzero nanoseconds in conversion
  exec(code_obj, self.user_global_ns, self.user_ns)

datetime.datetime(2021, 1, 1, 0, 17, 18, 877755)

In [32]:
pd.Timestamp( transaction_datetimes[1], unit='ms').toordinal()

737791

In [33]:
pd.Timestamp( transaction_datetimes[1], unit='ms').tzname()

In [34]:
pd.Timestamp( transaction_datetimes[1], unit='ms').value

1609460238877755511

In [35]:
pd.Timestamp( transaction_datetimes[1], unit='ms').year

2021

In [36]:
pd.Timestamp( transaction_datetimes[1], unit='ms').week

53

In [37]:
pd.Timestamp( transaction_datetimes[1], unit='ms').weekday()

4

In [38]:
pd.Timestamp( transaction_datetimes[1], unit='ms').weekofyear

53

#### Unix TimeStamp

In [39]:
transaction_timestamps = [pd.Timestamp(date).timestamp() for date in transaction_datetimes]

In [40]:
transaction_timestamps[0:3]

[1609459200.0, 1609460238.877755, 1609461277.755511]

In [41]:
a = transaction_timestamps[0:3][2]
print( pd.Timestamp(a).day )
#print( pd.Timestamp(a).day_name() )
print( pd.Timestamp(a).dayofweek )
print( pd.Timestamp(a).dayofyear )
print( pd.Timestamp(a).days_in_month )
print( pd.Timestamp(a).month )
#print( pd.Timestamp(a).month_name() )
print( pd.Timestamp(a).hour )
print( pd.Timestamp(a).minute )
print( pd.Timestamp(a).second )
print( pd.Timestamp(a).week )
print( pd.Timestamp(a).weekday() )
print( pd.Timestamp(a).weekofyear )

1
3
1
31
1
0
0
1
1
3
1

#### Convert Dataframe to DateTime

In [42]:
df = pd.DataFrame({'year': [2015, 2016], 'month': [2, 3], 'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [43]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]